[submodule "DockPanelSuite"]
	path = DockPanelSuite
	url = https://github.com/volante1013/dockpanelsuite.git
[submodule "SwfExtractor"]
	path = SwfExtractor
	url = https://github.com/andanteyk/SwfExtractor.git
